.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header-logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.header-btn{
  display: flex;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.btn-label-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 1px;
  border-color: var(--secondary-color);
}