<app-header></app-header>
<main class="home-main-container">
  <div class="home-chat-container">
    @if(chat.messages == null || chat.messages.length <= 0){
      <div class="home-title-container">
        <h1 class="home-title">Olá, como posso te ajudar?</h1>
      </div>
    }@else{
      <div class="home-messages-container">
        <app-message-list
          [messages]="chat.messages"
          (evaluateResponse)="onEvaluateResponse($event)"
        ></app-message-list>
      </div>
    }
    @if(isLoading){
      <app-progress-bar class="home-progress-bar-container"></app-progress-bar>
    }
    <app-message-input
      (messageSubmitted)="onMessageSubmitted($event)"
      class="home-message-input-container"
      [isDisabled]="isLoading"
    ></app-message-input>
  </div>
</main>
