.home-main-container{
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100%;
}
.home-chat-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 18px;
  gap: 18px;
  min-height: 100%;
  margin-top: 40px;
}
.home-title-container{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.home-title{
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);
}
.home-message-input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-messages-container{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 100%;
  gap: 15px;
}