<app-header [chat]="chat"></app-header>
<main class="prompt-main-container">
  <div class="prompt-chat-container">
    @if((chat.messages == null || chat.messages.length <= 0) || !(userMessage)){
      <div class="prompt-title-container">
        <h1 class="prompt-title">Escreva sua pergunta!</h1>
      </div>
    }@else{
      <div class="prompt-messages-container">
        <div class="promt-subtitle-containter">
          <h2 class="prompt-subtitle">Pergunta</h2>
        </div>
        <app-prompt-message-item
          [message]="userMessage"
        ></app-prompt-message-item>
        <div class="promt-subtitle-containter">
          <h2 class="prompt-subtitle">Respostas</h2>
        </div>
        <app-prompt-message-list
          [messages]="chat.messages"
          (evaluateResponse)="onEvaluateResponse($event)" 
        ></app-prompt-message-list>
      </div>
    }
    @if(isLoading){
      <app-progress-bar class="prompt-progress-bar-container"></app-progress-bar>
    }
    <app-message-input
      (messageSubmitted)="onMessageSubmitted($event)"
      class="prompt-message-input-container"
      [isDisabled]="isLoading"
    ></app-message-input>
  </div>
</main>