@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap";

:root {
  --primary-color: #1E1F20;
  --secondary-color: #A3A3A3;
  --text-color: #FFFFFF;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--primary-color);
}

.container{
  display: flex;
  justify-content: center;
  width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
